#timetable {
    position: absolute;
    top: 0px;
    left: 0px;
}

td {
    border: 1px solid #333;
    background-color: aliceblue;
}

.main {
    position: relative;
}

.operation {
    display: flex;
    height: 60px;
    margin-bottom: 5px;
}

.operationPanel {
    margin: 0px 10px 0px 0px;
}

.operationButton {
    width: 30px;
    height: 30px;
}